@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&family=Rubik+Distressed&display=swap');

@font-face{
    font-family: "circular-std";
    src: url("circular-std.ttf");
}
/* header
{
  background: 
	linear-gradient(0deg, rgba(0,0,0,1), rgba(222, 113, 58, 0.4)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 333 333' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='7.34' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
   */

body{
    overflow-x: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
}   

h1{
    color: white;
}

main{
    /* margin: 0% 10%; */
    padding: 0% 10%;
    padding-bottom: 25%;
    overflow: hidden;
    /* height: 100%; */
    position: relative;
    /* box-sizing: content-box; */
}
.main-bg{
    content: '';
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 333 333' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-blend-mode: difference;
    position: absolute;
    top: -50%;
    left: -50%;
    opacity: 0.2;
    animation: noiseFX 1s steps(1) infinite;
    width: 225%;
    height: 225%;
    z-index: -1;
}

main h1{
    font-family: 'Fredoka One', cursive;
}

a:visited{
    color: white;
    text-decoration: none;  
}

header a {
    color: black;
    
}

header a:visited {
    color: black;
}

a{
    color: white;
    text-decoration: none;  
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;  
    grid-gap: 0% 7.5%;
    position: relative;
    justify-content: center;
    height: auto;
    font-family: "circular-std";
}

.item img{
    height: 350px;
    /* min-height: 0%; */
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.tag{
    padding: 2% 4%;
    border-radius: 30px;
    border: 1px solid white;
    display: inline-block;
}

.other-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: whitesmoke;  
    grid-gap: 10% 3%;
    /* margin-bottom: 8%; */
    position: relative;
    justify-content: center;
    font-family: "circular-std";
}

.other-item img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}




/*  */

#cursor {
    position: fixed;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    height: 32px;
    width: 32px;
    z-index: 99999;
  }
  #cursor.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
        -ms-transform: scale(2) translateX(-25%) translateY(-25%);
            transform: scale(2) translateX(-25%) translateY(-25%);
    background: beige;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
  #cursor.hover-off{
    -webkit-transform: scale(0) translateX(-25%) translateY(-25%);
        -ms-transform: scale(0) translateX(-25%) translateY(-25%);
            transform: scale(0) translateX(-25%) translateY(-25%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
  }

header{ 
    width: 100%;
    position: relative;
    height: 100vh;
    display: block;
    background-color: black;
    overflow: hidden;
    font-family: "circular-std";
}

.external-links-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    z-index: 9999;
}
.external-links-container img{
    /* padding: 10%; */
    width: 2em;
    height: 2em;
    padding-top: 50%;
}
.external-links-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 2em;
    overflow: hidden;
}
.external-links-item p{
    font-size: 1em;
    padding-right: 20%;
    color: white;
}
.header-link{
    /* border-radius: 100%; */
    width: 3em;
    height: 3em;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
    -webkit-filter: invert(1);
            filter: invert(1);
    opacity: 50%;
}
.header-link:hover{
    opacity: 1;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
}
.external-links-item:hover{
    width: 10em;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
}

.top-left{
    /* background-color: black; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    padding: 2rem;
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* overflow: hidden; */
    z-index: 9999;
}
.top-left img{
    width: 2em;
    height: 2em;
}
.top-left p{
    padding-left: 2%;
}
/* resume */
.top-left a{ 
    margin-left: auto;
    margin-right: 5em;
    /* overflow: hidden; */
}
.top-left a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: brown;
    display: block;
    margin: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.top-left a:hover::after{
    width: 100%;
}

.graphic-header {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('./images/wings-2.png');
    background-position: 25% 50%;
    background-size: 30%;
    background-repeat: no-repeat;
    filter: saturate(120%);
    /* z-index: 999; */
  }
    
  .graphic-header::after {
    content: '';
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 333 333' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-blend-mode: difference;
    position: absolute;
    top: -100%;
    left: -100%;
    width: 450%;
    height: 450%;
    opacity: 0.2;
    animation: noiseFX 1s steps(1) infinite;
    /* z-index: ; */
  }

  @keyframes noiseFX {
    0%,
    100% {
      transform: translate(0, 0);
    }
    /* 10% {
      transform: translate(-5%, -10%);
    } */
    30% {
      transform: translate(3%, -15%);
    }
    50% {
      transform: translate(12%, 9%);
    }
    70% {
      transform: translate(9%, 4%);
    }
    /* 90% {
      transform: translate(-1%, 7%);
    } */
  }
.header-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%) scale(75%);
}
.title-container{
    color: beige;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    width: max-content;
    height: 4em;
}
.blurb{
    margin-top: 2%;
    color: beige;
    width: max-content;
    font-family: "circular-std";
}

nav .hover-target{
    cursor: pointer;
}

nav a:visited{
    color: white;
}

.nav-arrow{
    -webkit-filter: invert(1);
            filter: invert(1);
    z-index: 100;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    top: .8em;
}
.about:hover .nav-arrow, .contact:hover .nav-arrow, .projects:hover .nav-arrow{
    -webkit-animation: arrow-hover 0.5s infinite alternate;
            animation: arrow-hover 0.5s infinite alternate;
}
@-webkit-keyframes arrow-hover{
    from{
        left: 0;
    }
    to{
        left: -1em;
    }
}
@keyframes arrow-hover{
    from{
        left: 0;
    }
    to{
        left: -1em;
    }
}

.about-panel, .contact-panel{
    background-color: #D88849;
    position: absolute;
    border-radius: 30px;
    padding: 7%;
    width: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1000;
}
.about-panel h2, .contact-panel h2{
    font-family: "Fredoka One", cursive;
    padding-bottom: 5%;
}
.about-panel img, .contact-panel img{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 5vw;
    right: 10%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    cursor: pointer;
}
.about-panel img:hover, .contact-panel img:hover{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}
.contact-panel a:hover{
    text-decoration: underline;
}

@-webkit-keyframes panelopen{
    from{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
    to{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
}

@keyframes panelopen{
    from{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
    to{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
}

@-webkit-keyframes panelclose{
    from{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
    to{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
}

@keyframes panelclose{
    from{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
    to{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
}



@media (max-width: 1025px){
    .projects-container{
        grid-template-columns: 1fr;
    }
    .other-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .graphic-header{
        display: flex;
        flex-direction: column;
        background-position: 50% 50%;
        background-size: 50%;
    }
    /* .graphic img{
        transform: translate(0%);
    } */
    .header-container{
        transform: translate(-50%, 50%) scale(70%);
    }
}