/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&family=Rubik+Distressed&display=swap');

@font-face{
    font-family: "circular-std";
    src: url("circular-std.ttf");
}

#cursor {
    position: fixed;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    height: 32px;
    width: 32px;
    z-index: 99999;
  }
  #cursor.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
        -ms-transform: scale(2) translateX(-25%) translateY(-25%);
            transform: scale(2) translateX(-25%) translateY(-25%);
    background: beige;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
  #cursor.hover-off{
    -webkit-transform: scale(0) translateX(-25%) translateY(-25%);
        -ms-transform: scale(0) translateX(-25%) translateY(-25%);
            transform: scale(0) translateX(-25%) translateY(-25%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
  }

  
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    line-height: 1.5;
}
a{
    color: inherit;
    text-decoration: none;
}

header{ 
    width: 100%;
    position: relative;
    height: 100vh;
    display: block;
    background-color: black;
    overflow: hidden;

    /* background-image: url("grid-background.png"); */
}

.external-links-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    /* z-index: 9999; */
}
.external-links-container img{
    /* padding: 10%; */
    width: 2em;
    height: 2em;
    padding-top: 50%;
}
.external-links-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 2em;
    overflow: hidden;
}
.external-links-item p{
    font-size: 1em;
    padding-right: 20%;
    color: white;
}
.header-link{
    /* border-radius: 100%; */
    width: 3em;
    height: 3em;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
    -webkit-filter: invert(1);
            filter: invert(1);
    opacity: 50%;
}
.header-link:hover{
    opacity: 1;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
}
.external-links-item:hover{
    width: 10em;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
}

.top-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    padding: 2rem;
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* overflow: hidden; */
}
.top-left img{
    width: 2em;
    height: 2em;
}
.top-left p{
    padding-left: 2%;
}
/* resume */
.top-left a{ 
    margin-left: auto;
    margin-right: 5em;
    /* overflow: hidden; */
}
.top-left a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: brown;
    display: block;
    margin: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.top-left a:hover::after{
    width: 100%;
}

.graphic{
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 0;
}
.graphic img{
    -webkit-transform: translate(-110%, -50%) scale(75%);
        -ms-transform: translate(-110%, -50%) scale(75%);
            transform: translate(-110%, -50%) scale(75%);
}
.header-container{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-25%, -50%) scale(75%);
        -ms-transform: translate(-25%, -50%) scale(75%);
            transform: translate(-25%, -50%) scale(75%);
}
.title-container{
    color: beige;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(75%); */
    /* position: absolute; */
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 4em;
    line-height: 3em;
    /* display: table-cell;
    vertical-align: middle; */
    overflow: hidden;
    /* font-weight: 100; */
}
.blurb{
    margin-top: 2%;
    color: beige;
    /* top: 60%;
    left: 50%;
    transform: translate(-30%, -50%) scale(75%); */
    /* position: absolute; */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    /* font-family: 'Poppins', sans-serif; */
}

.title-container h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-animation: typing 15s infinite, blink 1s infinite alternate;
            animation: typing 15s infinite, blink 1s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    /* font-size: 2em; */
  }

  .title-container h1:nth-child(2){
    color: #F1C568;
  }
  .title-container h1:nth-child(3){
    color: #D88849;
  }
  
  @-webkit-keyframes typing {
    0% {
        max-width: 0%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    10%{
        max-width: 100%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    15%{
        max-width: 100%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    25%{
        max-width: 0%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    26%{
        max-width: 0%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    36%{
        max-width: 0%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    46%{
        max-width: 100%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    51%{
        max-width: 100%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    61%{
        max-width: 0%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    62%{
        max-width: 0%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    72%{
        max-width: 0%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    82%{
        max-width: 100%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    87%{
        max-width: 100%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    97%{
        max-width: 0%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    100%{
        max-width: 0%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
  }
  
  @keyframes typing {
    0% {
        max-width: 0%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    10%{
        max-width: 100%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    15%{
        max-width: 100%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    25%{
        max-width: 0%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    26%{
        max-width: 0%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    36%{
        max-width: 0%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    46%{
        max-width: 100%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    51%{
        max-width: 100%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    61%{
        max-width: 0%;
        -webkit-transform: translateY(-150%);
                transform: translateY(-150%);
    }
    62%{
        max-width: 0%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    72%{
        max-width: 0%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    82%{
        max-width: 100%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    87%{
        max-width: 100%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    97%{
        max-width: 0%;
        -webkit-transform: translateY(-300%);
                transform: translateY(-300%);
    }
    100%{
        max-width: 0%;
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
  }
      
  @-webkit-keyframes blink {
    50% {
      border-color: transparent
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


.about{
    color: whitesmoke;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: -21%;
    left: -73%;
    z-index: 100;
    -webkit-transform: skew(0deg,14deg);
        -ms-transform: skew(0deg,14deg);
            transform: skew(0deg,14deg);
    font-family: 'Fredoka One', cursive;
}
.contact{
    color: whitesmoke;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: -6.5%;
    left: -49%;
    z-index: 100;
    -webkit-transform: skew(0deg, -15deg);
        -ms-transform: skew(0deg, -15deg);
            transform: skew(0deg, -15deg);
    font-family: 'Fredoka One', cursive;
}
.projects{
    color: whitesmoke;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 18%;
    left: -79%;
    z-index: 100;
    -webkit-transform: skew(0,-3deg);
        -ms-transform: skew(0,-3deg);
            transform: skew(0,-3deg);
    font-family: 'Fredoka One', cursive;
}

.nav-arrow{
    -webkit-filter: invert(1);
            filter: invert(1);
    z-index: 100;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0;
    top: .8em;
}
.about:hover .nav-arrow, .contact:hover .nav-arrow, .projects:hover .nav-arrow{
    -webkit-animation: arrow-hover 0.5s infinite alternate;
            animation: arrow-hover 0.5s infinite alternate;
}
@-webkit-keyframes arrow-hover{
    from{
        left: 0;
    }
    to{
        left: -1em;
    }
}
@keyframes arrow-hover{
    from{
        left: 0;
    }
    to{
        left: -1em;
    }
}

.about-panel, .contact-panel{
    background-color: #D88849;
    position: absolute;
    border-radius: 30px;
    padding: 7%;
    width: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1000;
}
.about-panel h2, .contact-panel h2{
    font-family: "Fredoka One", cursive;
    padding-bottom: 5%;
}
.about-panel img, .contact-panel img{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 5vw;
    right: 10%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    cursor: pointer;
}
.about-panel img:hover, .contact-panel img:hover{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}
.contact-panel a:hover{
    text-decoration: underline;
}

@-webkit-keyframes panelopen{
    from{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
    to{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
}

@keyframes panelopen{
    from{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
    to{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
}

@-webkit-keyframes panelclose{
    from{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
    to{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
}

@keyframes panelclose{
    from{
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        visibility: visible; 
    }
    to{
        -webkit-transform: translate(-250%,-50%);
                transform: translate(-250%,-50%);
        visibility: hidden; 
    }
}

main h1{
    color: beige;
    margin: 0 auto;
    font-family: "Fredoka One", cursive;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
main{
    padding-bottom: 15%;
}
.projects-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 5% 25% 5% 25%;
    grid-template-columns: 25% 25% 25%;
    color: whitesmoke;  
    grid-gap: 5%;
    /* padding: 5%; */
    width: 100%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5% 7.5%;
    margin-bottom: 15%;
    position: relative;
}

.item{
    padding: 30px;
    background-color: darkgray;
    border-radius: 10px;
    /* box-shadow: 15px 15px #D88849; */
    height: 10em;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    /* border: solid .5px #D88849; */
    
    -webkit-transition: all 1s ease;
    
    -o-transition: all 1s ease;
    
    transition: all 1s ease;
    text-align: center;
}
.item h2{
    z-index: 2;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    position: absolute;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    padding: 0px 10px;
    font-family: "Fredoka One", cursive;
    font-size: large;
    letter-spacing: .8px;
}
.desc{
/*    display: none;*/
    z-index: 1;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    font-size: medium;
    font-family: "circular-std";
}

.item:hover{
    /* box-shadow: 10px 10px cadetblue; */
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: scale(105%);
        -ms-transform: scale(105%);
            transform: scale(105%);
    /* border: solid 1px cadetblue; */
}
.item:hover .desc{
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    opacity: 1;
    text-shadow: 3px 3px 10px black;
}
.item:hover h2{
    -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
            transform: translateY(-60px);
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.tag{
    z-index: 3;
    position: absolute;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    
    background-color: #F1C568;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: "circular-std";
    font-size: 10px;
    color: black;
    opacity:1;
    
    -webkit-transition: all 2s ease;
    
    -o-transition: all 2s ease;
    
    transition: all 2s ease;
}
.item:hover .tag{
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
}
.envision, .astro, .hunt, .job, .yg, .ari, .edel, .study, .roguelite,.art,.cygnus, .airplay, .tennis, .train{
    cursor: pointer;
}
.silly{
    background-image: url("images/sillyinput.png");
}
.envision{
    background-image: url("images/envision.png");
}
.disease{
    background-image: url("images/cluster.png");
}
.astro{
    background-image: url("images/astro.png");
}
.hunt{
    background-image: url("images/hunt.png");
}
.ari{
    background-image: url("images/ari.png");
}
.job{
    background-image: url("images/job.png");
}
.yg{
    background-image: url("images/yg.png");
}
.port{
    background-image: url("images/port.png")
}
.edel{
    background-image: url("images/edel.png");
}
.roguelite{
    background-image: url("images/roguelite.png");
}
.plant{
    background-image: url("images/plant.png");
}
.study{
    background-image: url("images/study.png");
}
.airplay{
    background-image: url("images/airplay.png");
}
.art{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(4,9,30,0.7)),to(rgba(4,9,30,0.7))), url("images/idk.jpg");
    background-image: -o-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/idk.jpg");
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/idk.jpg");
}
.cygnus{
    /* background-image: url("images/cygnus.jpg"); */
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(4,9,30,0.7)),to(rgba(4,9,30,0.7))), url("images/idk.jpg");
    background-image: -o-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/cygnus.jpg");
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/cygnus.jpg");
}
.tennis{
    /* background-image: url("images/cygnus.jpg"); */
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(4,9,30,0.7)),to(rgba(4,9,30,0.7))), url("images/idk.jpg");
    background-image: -o-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/tennis.png");
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/tennis.png");
}
.train{
    /* background-image: url("images/cygnus.jpg"); */
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(4,9,30,0.7)),to(rgba(4,9,30,0.7))), url("images/idk.jpg");
    background-image: -o-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/train.png");
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/train.png");
}

.item{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
}

.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .filter-button-container{
    width: 100%;
    margin: 2% 7.5%;
    display: flex;
    flex-direction: row;

  }

  .btn{
    background-color: black;
    color: white;
    padding-right: 2%;
    cursor: pointer;
  }
  .btn.active{
    font-weight: bolder;
    text-shadow: 0 0  5px grey;
  }

@media (max-width: 1025px){
    .projects-container{
        -ms-grid-columns: 40% 5% 40%;
        grid-template-columns: 40% 40%;
        grid-gap: 5%;
        margin: 5% 7.5%;
        /* margin-bottom: 50%; */
    }
    .graphic{
        -webkit-transform: translate(60%, -5%) scale(100%);
            -ms-transform: translate(60%, -5%) scale(100%);
                transform: translate(60%, -5%) scale(100%);
    }
    .header-container{
        -webkit-transform: translate(-50%, 50%) scale(70%);
            -ms-transform: translate(-50%, 50%) scale(70%);
                transform: translate(-50%, 50%) scale(70%);
        bottom: 0%;
    }
}

@media (max-width: 768px){
    .projects-container{
        -ms-grid-columns: 85%;
        grid-template-columns: 85%;
        grid-gap: 2%;
    }
    .item{
        border: 1px solid white;
        width: 100%;
        height: 15em;
        /* margin: 0% 1%; */
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .item:hover{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .graphic{
        -webkit-transform: translate(60%, -5%);
            -ms-transform: translate(60%, -5%);
                transform: translate(60%, -5%);
    }
    .header-container{
        -webkit-transform: translate(-50%, 50%) scale(60%);
            -ms-transform: translate(-50%, 50%) scale(60%);
                transform: translate(-50%, 50%) scale(60%);
    }
    .about-panel, .contact-panel{
        width: 50%;
    }
    .about-panel img, .contact-panel img{
        top: 6vw;
    }
}

@media (max-width: 481px){
    .graphic{
        -webkit-transform: translate(35%,-15%) scale(75%);
            -ms-transform: translate(35%,-15%) scale(75%);
                transform: translate(35%,-15%) scale(75%);
    }
    .header-container{
        -webkit-transform: translate(-50%, 50%) scale(50%);
            -ms-transform: translate(-50%, 50%) scale(50%);
                transform: translate(-50%, 50%) scale(50%);
        bottom: 5%;
    }
    .external-links-container{
        display: none;
    }
    .about-panel, .contact-panel{
        width: 70%;
    }
    .about-panel img, .contact-panel img{
        top: 8vw;
    }
}